# https://pandas.pydata.org/docs/

## PANDAS
### Acceso, Descripción y Visualización de Datos
- I) Crear y manejar tablas de datos (DataFrames)
- II) Leer datos desde archivos
- III) Describir Y Explorar datos
- IV) Filtrar y seleccionar datos
- V) **Limpiar datos**

In [ ]:
%pip install pandas

### DISTINTAS FORMAS DE CREAR UN DATAFRAME (estructura de datos en forma de tabla)

### 1) Desde un archivo CSV

In [ ]:
#NO EJECUTAR
df_prueba = pd.read_csv('archivo.csv')

### 2) Desde una lista de listas + nombres de columnas

In [ ]:
import pandas as pd

data = [
    [11, 21, 31, 41],
    [21, 22, 32, 42],
    [31, 23, 33, 43]
]

df = pd.DataFrame(data, columns=['a', 'b', 'c', 'd'])
print(df)

### 3) Desde un diccionario

In [ ]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23], "c":[31,32,33], "d":[41,42,43]})
print(df)

Las claves del diccionario ('a', 'b') se convierten automáticamente en los nombres de las columnas del DataFrame.

Los valores del diccionario (listas [11,21,31] y [21,22,23]) se convierten en los datos de cada columna.

### Desplegar las 3 primeras filas

In [ ]:
df.head(1,)

### Información de las columnas - cantidad de Non-null y Type, shape,

In [ ]:
df.info()

In [ ]:
#cantidad de nulos en el dataframe
df.isnull().sum()

In [9]:
#obtener la forma de df (num filas, num col)
df.shape

(3, 4)

In [10]:
#obtener parámetros estadísticos básicos
df.describe()

          a     b     c     d
count   3.0   3.0   3.0   3.0
mean   21.0  22.0  32.0  42.0
std    10.0   1.0   1.0   1.0
min    11.0  21.0  31.0  41.0
25%    16.0  21.5  31.5  41.5
50%    21.0  22.0  32.0  42.0
75%    26.0  22.5  32.5  42.5
max    31.0  23.0  33.0  43.0

### Obtener la columna b

In [11]:
df['b']

0    21
1    22
2    23
Name: b, dtype: int64

In [12]:
#arroja BOOLEANOS

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23], "c":[31,32,33], "d":[41,42,43]})
df['c']==31  #por cada elemento de la lista a, testea si es iagual a 1

0     True
1    False
2    False
Name: c, dtype: bool

### Acceder a elementos únicos usando .iloc

In [13]:
# Access al valor en la primer columna y primer fila
print(df.iloc[0, 0])

11

### Acceder a rango de elementos únicos usando .iloc

In [14]:
# Slicing the dataframe

df.iloc[0:2, 0:3]   #0:2 es el rango de filas y 0:3 el rango de columnas

    a   b   c
0  11  21  31
1  21  22  32

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       3 non-null      int64
dtypes: int64(4)
memory usage: 224.0 bytes